<!DOCTYPE html>
<html>
    <head>
        <title>Rosecolored Glasses' Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Rosecolored Glasses</a></h1>
        </header>

        <article>
            <time>published: 26.03.2025, 13:24</time>
            <h2><a href="">The Hardest Part is never the expected problem</a></h2>
            <p>The dreaded "Deploy" section.</p>
        </article>

        <article>
            <time>published: 26.03.2025, 13:14</time>
            <h2><a href="">Yatta!</a></h2>
            <p>I present to the world my first publicly available world wide blog post on the site that I built! </p>
        </article>
    </body>
</html>